{% load static %}
<div class="card about-me">
                            <div class="card-header">
                                About Me
                            </div>
                            <div class="card-body">
                                    <img class="card-img-top img-fluid" src="{% static 'image/image_test.jpg' %}" alt="Card image cap">
                                <p>I am not mad or no fear to death. And I have nothing to lost. But I have a Dream, an Idea and Love.</p>
                                <div class="social-sites">
                                    <a href="#"><i class="fab fa-github"></i></a>
                                    <a href="#"><i class="fab fa-gitlab"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div><!-- end of about me -->
<div class="clearfix"></div><br />