<div class="category">
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                Category
            </div>
            <div class="card-body">
                <div>
                    {% for category in category_list %}
                        <div id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    {{ category.category }}
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="sub-category">
                                <a href="#" class="">Sub category 1</a><br/>
                                <a href="#" class="">Sub category 2</a><br/>
                                <a href="#" class="">Sub category 3</a><br/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div><!-- category section -->
<div class="clearfix"></div><br />
