{% load static %}
<!-- bootstrap-->
<!-- Normalize css -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/normalize.css' %}">

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">

<!-- fonts awesome-->
<link rel="stylesheet" href="{% static 'font/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'font/fontawesome/css/solid.min.css' %}">
<link rel="stylesheet" href="{% static 'font/fontawesome/css/fontawesome.min.css' %}">

<!-- custom css -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/blog_style.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
