{#<div class="card subscribe">#}
{#                            <div class="card-header">#}
{#                                Subscribe#}
{#                            </div>#}
{#                            <div class="card-body">#}
{#                                <form>#}
{#                                    <div class="form-group">#}
{#                                        <input type="email" class="form-control" id="subscribeEmail" aria-describedby="emailHelp" placeholder="Enter your email">#}
{#                                    </div>#}
{#                                    <button type="submit" class="btn btn-subscribe btn-block">Subscribe</button>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div><!-- end of subscribe -->#}
{#                        <div class="clearfix"></div><br />#}