{% extends 'base.html' %}
{% load static %}
{% block title %}Home || {{ block.super }}{% endblock title %}


{% block content %}
    <div class="col-9 col-md-9">
        <section>
            <div class="col-12 col-md-12">
                <div class="card-deck">
                    {% for content in home_content %}
                    <div class="col-4 col-md-4 py-2">
                        <div class="card">
                            <a href="{% static 'single_content.html' %}"><img class="card-img-top card-img-height img img-thumbnail" src="{{ content.image.url }}" alt="{{ content.title }}"></a>
                            <div class="card-body">
                                <p class="card-title">{{ content.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- end of new content -->
        <div class="clearfix"></div><br />
    </div><!-- end of col-9 col-md-9 -->
{% endblock %}